root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.yml]
indent_style = space
indent_size = 2

# This makes it a lot less painful to write YAMLs in docs
[*.md]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
